.form-container {
    width: 30%;
    min-width: 30%;
}

.control-title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-event {
    margin-top: 15px;
    text-align: right;
}

.action-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}